Import all necessary libraries that are to be used in data analysis and predeiction

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Import the data file.
As the data given is in excel format, we read the file directly as .csv files are harder to navigate in large datasets

In [6]:
data = pd.read_excel("C:/Users/c23094633/OneDrive - Cardiff University/Documents/Courses/CrRisk/Coursework/GermanCreditData.xlsx", sheet_name='Sheet1')
# Display the first few rows to understand the structure of dataframe

data = data.drop(columns=['Unnamed: 22','Unnamed: 23','Unnamed: 24'])
data.head()

,Checking,Duration,History,Purpose,Amount,Savings,Emploed,Installp,marital,Coapp,...,Age,Other,housing,Existcr,Job,Depends,Telephone,Foreign,Bad,Good
0,1,6,4,3,1169,5,5,4,3,1,...,67,3,2,2,3,1,2,1,0,1
1,2,48,2,3,5951,1,3,2,2,1,...,22,3,2,1,3,1,1,1,1,0
2,4,12,4,6,2096,1,4,2,3,1,...,49,3,2,1,2,2,1,1,0,1
3,1,42,2,2,7882,1,4,2,3,3,...,45,3,3,1,3,2,1,1,0,1
4,1,24,3,0,4870,1,3,3,3,1,...,53,3,3,2,3,2,1,1,1,0

Above, there are missing or null columns being formed when importing data from excel file, so we have used drop() to get rid of the useless columns.

In [7]:
# Getting basic information about the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Checking   1000 non-null   int64
 1   Duration   1000 non-null   int64
 2   History    1000 non-null   int64
 3   Purpose    1000 non-null   object
 4   Amount     1000 non-null   int64
 5   Savings    1000 non-null   int64
 6   Emploed    1000 non-null   int64
 7   Installp   1000 non-null   int64
 8   marital    1000 non-null   int64
 9   Coapp      1000 non-null   int64
 10  Resident   1000 non-null   int64
 11  Property   1000 non-null   int64
 12  Age        1000 non-null   int64
 13  Other      1000 non-null   int64
 14  housing    1000 non-null   int64
 15  Existcr    1000 non-null   int64
 16  Job        1000 non-null   int64
 17  Depends    1000 non-null   int64
 18  Telephone  1000 non-null   int64
 19  Foreign    1000 non-null   int64
 20  Bad        1000 non-null   int64
 21  Good       1000 non-null   int64
dtypes: int64(21), object(1)
memory usage: 172.0+ KB

Above, we observe that every column has 1000 entries of data, which means there are no missing values. But to be on the safe side, we calculate the sum of cells where there are no values. If we get any value other than 0, then there is missing value.

In [8]:
# Checking for missing data in dataframe
missing_values = data.isnull().sum()
missing_values

Checking     0
Duration     0
History      0
Purpose      0
Amount       0
Savings      0
Emploed      0
Installp     0
marital      0
Coapp        0
Resident     0
Property     0
Age          0
Other        0
housing      0
Existcr      0
Job          0
Depends      0
Telephone    0
Foreign      0
Bad          0
Good         0
dtype: int64

From above, we observe that there are no missing values.