# Import

Import all necessary libraries that are to be used in data analysis and predeiction

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split

Import the data file.
As the data given is in excel format, we use read_excel fn.

In [13]:
data = pd.read_excel("C:/Users/c23094633/OneDrive - Cardiff University/Documents/Courses/CrRisk/Coursework/GermanCreditData.xlsx", sheet_name = 'Sheet1')
# Display the first few rows to understand the structure of dataframe

data = data.drop(columns=['Unnamed: 22','Unnamed: 23','Unnamed: 24'])
data.head(20)

,Checking,Duration,History,Purpose,Amount,Savings,Emploed,Installp,marital,Coapp,...,Age,Other,housing,Existcr,Job,Depends,Telephone,Foreign,Bad,Good
0,1,6,4,3,1169,5,5,4,3,1,...,67,3,2,2,3,1,2,1,0,1
1,2,48,2,3,5951,1,3,2,2,1,...,22,3,2,1,3,1,1,1,1,0
2,4,12,4,6,2096,1,4,2,3,1,...,49,3,2,1,2,2,1,1,0,1
3,1,42,2,2,7882,1,4,2,3,3,...,45,3,3,1,3,2,1,1,0,1
4,1,24,3,0,4870,1,3,3,3,1,...,53,3,3,2,3,2,1,1,1,0
5,4,36,2,6,9055,5,3,2,3,1,...,35,3,3,1,2,2,2,1,0,1
6,4,24,2,2,2835,3,5,3,3,1,...,53,3,2,1,3,1,1,1,0,1
7,2,36,2,1,6948,1,3,2,3,1,...,35,3,1,1,4,1,2,1,0,1
8,4,12,2,3,3059,4,4,2,1,1,...,61,3,2,1,2,1,1,1,0,1
9,2,30,4,0,5234,1,1,4,4,1,...,28,3,2,2,4,1,1,1,1,0
10,2,12,2,0,1295,1,2,3,2,1,...,25,3,1,1,3,1,1,1,1,0
11,1,48,2,9,4308,1,2,3,2,1,...,24,3,1,1,3,1,1,1,1,0
12,2,12,2,3,1567,1,3,1,2,1,...,22,3,2,1,3,1,2,1,0,1
13,1,24,4,0,1199,1,5,4,3,1,...,60,3,2,2,2,1,1,1,1,0
14,1,15,2,0,1403,1,3,2,2,1,...,28,3,1,1,3,1,1,1,0,1
15,1,24,2,3,1282,2,3,4,2,1,...,32,3,2,1,2,1,1,1,1,0
16,4,24,4,3,2424,5,5,4,3,1,...,53,3,2,2,3,1,1,1,0,1
17,1,30,0,9,8072,5,2,2,3,1,...,25,1,2,3,3,1,1,1,0,1
18,2,24,2,1,12579,1,5,4,2,1,...,44,3,3,1,4,1,2,1,1,0
19,4,24,2,3,3430,3,5,3,3,1,...,31,3,2,1,3,2,2,1,0,1

# Exploratory Data Analysis (EDA)

Before getting into any sophisticated analysis, the first step is to do an EDA.

In [14]:
# Getting basic information about the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Checking   1000 non-null   int64
 1   Duration   1000 non-null   int64
 2   History    1000 non-null   int64
 3   Purpose    1000 non-null   object
 4   Amount     1000 non-null   int64
 5   Savings    1000 non-null   int64
 6   Emploed    1000 non-null   int64
 7   Installp   1000 non-null   int64
 8   marital    1000 non-null   int64
 9   Coapp      1000 non-null   int64
 10  Resident   1000 non-null   int64
 11  Property   1000 non-null   int64
 12  Age        1000 non-null   int64
 13  Other      1000 non-null   int64
 14  housing    1000 non-null   int64
 15  Existcr    1000 non-null   int64
 16  Job        1000 non-null   int64
 17  Depends    1000 non-null   int64
 18  Telephone  1000 non-null   int64
 19  Foreign    1000 non-null   int64
 20  Bad        1000 non-null   int64
 21  Good       1000 non-null   int64
dtypes: int64(21), object(1)
memory usage: 172.0+ KB

Above, we observe that every column has 1000 entries of data, which means there are no missing values. But to be on the safe side, we calculate the sum of cells where there are no values. If we get any value other than 0, then there is missing value.

In [15]:
# Checking for missing data in dataframe
missing_values = data.isnull().sum()
missing_values

Checking     0
Duration     0
History      0
Purpose      0
Amount       0
Savings      0
Emploed      0
Installp     0
marital      0
Coapp        0
Resident     0
Property     0
Age          0
Other        0
housing      0
Existcr      0
Job          0
Depends      0
Telephone    0
Foreign      0
Bad          0
Good         0
dtype: int64

We observe that there are no missing values.

# 1. Split the dataset into two subsets as follows:

### Subset 1: the applicants with Checking = 1 or Checking = 2

### Subset 2: the applicants where Checking = 3 or Checking = 4
    
Clean the subsets if necessary.

In [16]:
subset1 = data[(data['Checking'] == 1) | (data['Checking'] == 2)]
subset2 = data[(data['Checking'] == 3) | (data['Checking'] == 4)]
subset1

,Checking,Duration,History,Purpose,Amount,Savings,Emploed,Installp,marital,Coapp,...,Age,Other,housing,Existcr,Job,Depends,Telephone,Foreign,Bad,Good
0,1,6,4,3,1169,5,5,4,3,1,...,67,3,2,2,3,1,2,1,0,1
1,2,48,2,3,5951,1,3,2,2,1,...,22,3,2,1,3,1,1,1,1,0
3,1,42,2,2,7882,1,4,2,3,3,...,45,3,3,1,3,2,1,1,0,1
4,1,24,3,0,4870,1,3,3,3,1,...,53,3,3,2,3,2,1,1,1,0
7,2,36,2,1,6948,1,3,2,3,1,...,35,3,1,1,4,1,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,1,18,2,3,1936,5,4,2,4,1,...,23,3,1,2,2,1,1,1,0,1
993,1,36,2,2,3959,1,1,4,3,1,...,30,3,2,1,4,1,2,1,0,1
996,1,30,2,1,3857,1,3,4,1,1,...,40,3,2,1,4,1,2,1,0,1
998,1,45,2,3,1845,1,3,4,3,1,...,23,3,3,1,3,1,2,1,1,0
999,2,45,4,1,4576,2,1,3,3,1,...,27,3,2,1,3,1,1,1,0,1

# 2. For each subset, establish a training set and validation set.

In [19]:
X_subset1 = subset1.drop('Checking', axis=1)
y_subset1 = subset1['Checking']
X_train_subset1, X_val_subset1, y_train_subset1, y_val_subset1 = train_test_split(
    X_subset1, y_subset1, test_size=0.2, stratify=y_subset1, random_state=42)

X_subset2 = subset2.drop('Checking', axis=1)
y_subset2 = subset2['Checking']
X_train_subset2, X_val_subset2, y_train_subset2, y_val_subset2 = train_test_split(
    X_subset2, y_subset2, test_size=0.2, stratify=y_subset2, random_state=42)

X_train_subset1, y_train_subset1: Training features and target for Subset 1.

X_val_subset1, y_val_subset1: Validation features and target for Subset 1.

X_train_subset2, y_train_subset2: Training features and target for Subset 2.

X_val_subset2, y_val_subset2: Validation features and target for Subset 2.

test_size=0.2 to allocate 20% of the data to the validation set and 80% to the training set.


# 3. For each training set choose four variables which are suitable for building a scorecard. 
## For each training set the variables must have 

#### (i) at least one continuous variable before binning;

#### (ii) at least one categorical variable with more than two categories, so you can see whether categories can be combined.